---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Über mich">
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm sm:rounded-lg">
            <img src="/1634310701789.jpg" alt="me" class="h-full object-cover object-center" transition:name="me">
          <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Über mich</h2>
          <p>Lorem ipsum</p>
        </div>
</Layout>

<style>
    div{
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
    h2 {
		color: white;
	}
</style>