---
import Button from "./Button.astro";
---
<div class="overflow-hidden">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mx-auto grid max-w-l grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div
        class="aspect-h-5 aspect-w-4 lg:aspect-h-4 lg:aspect-w-3 sm:overflow-hidden sm:rounded-lg">
        <img
          src="/1634310701789.jpg"
          alt="me"
          class="h-full w-full object-cover object-center"
          transition:name="me"/>
      </div>
      <div class="lg:pr-8 lg:pt-4">
        <div class="lg:max-w-lg">
          <div class="flex min-h-full flex-col px-6 py-12 lg:px-8">
            <h2>Wer wird Ihre Website erstellen?</h2>
            <h1>Ihr <span class="text-gradient">Problemlöser</span></h1>
            <p>Lorem ipsum dolor sit amet.</p>
            <Button href="/about" title="Mehr über mich" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
