---
import Button from "./Button.astro";
import "../assets/styles/Greeting.sass"
---
<div class="greeting">
<h2>Willkommen auf meiner Website</h2>
<h1>Digitale <span class="text-gradient">Meisterwerke</span> schaffen!</h1>
<p>Von kleinen Webseiten bis zu komplexen Online-Plattformen – Ihre digitale Präsenz in besten Händen. Ich gestalte, entwickle und optimiere, damit Ihr Business online glänzt. Für Selbständige, Kleinunternehmer und KMUs auf Erfolgskurs.</p>
<Button
				href="/#contact"
				title="Get in touch"
/>
</div>